.Error404 {
    .fullscreen-message {
        height: 100vh;
        margin: 0;
    }

    .message-icon {
        margin: 0 0 1rem;
        font-size: 6rem;
        height: 6.5rem;
    }

    .subtitle {
        margin-bottom: 1rem;
    }
}
