@import '~bulma/sass/utilities/initial-variables';

$gap: 64px;
$tablet: 624px;
$desktop: 864px + (2 * $gap);
$widescreen: 1104px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);

//$primary: $orange;
$primary: #ff9800;

@import '~bulma';
